{% load static %}

<link rel="stylesheet" href="{% static 'css/content.css' %}">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<div class="content_container">
    
    <div class="key_values">
        <div class="item networth">networth</div>
        <div class="item asstes">assets</div>
        <div class="item balance">balance</div>
        <div class="item me"><button>My Protfolio</button></div>
    </div>

    <div class="graph_container">
        <div class="sidebar_left">
            <div class="income">
                income
            </div>
            <div class="split_expenses">
                <div class="split_expenses_chart" id="split_expenses_chart"></div>
            </div>
        </div>

        <div class="sidebar_right">

            <div class="graphs_sidebar_right">
                <div class="item line1">
                    <div class="linechart1" id="linechart1"></div>
                </div>
                <div class="item line2">
                    <div class="linechart2" id="linechart2"></div>
                </div>
                <div class="item line3">
                    <div class="linechart3" id="linechart3"></div>
                </div>
            </div>

            <div class="split_sidebar_right">
                <div class="item chart">
                    
                    <div class="piechart_chart" id="piechart_chart"></div>
                    
                </div>
                <div class="item list">
                    <div class="list_header">
                        <h1>list expenses</h1>
                    </div>

                    <div class="table-container">
                        <table>
                            <thead>
                                <tr class="columns">
                                    <th class="column">
                                        <h2>date</h2>
                                    </th>
                                    <th class="column">
                                        <h2>amount</h2>
                                    </th>
                                    <th class="column">
                                        <h2>purpose</h2>
                                    </th>
                                    <th class="column">
                                        <h2>href</h2>
                                    </th>
                                    <th class="column">
                                        <h2>edit</h2>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>20$</td>
                                    <td>MONEY</td>
                                    <td><a href="/">href</a></td>
                                    <td>editbtn</td>
                                </tr>

                                <tr>
                                    <td>1</td>
                                    <td>20$</td>
                                    <td>MONEY</td>
                                    <td><a href="/">href</a></td>
                                    <td>editbtn</td>
                                </tr>

                                <tr></tr>
                                    <td>1</td>
                                    <td>20$</td>
                                    <td>MONEY</td>
                                    <td><a href="/">href</a></td>
                                    <td>editbtn</td>
                                </tr>

                                <tr>
                                    <td>1</td>
                                    <td>20$</td>
                                    <td>MONEY</td>
                                    <td><a href="/">href</a></td>
                                    <td>editbtn</td>
                                </tr>

                                <tr>
                                    <td>1</td>
                                    <td>20$</td>
                                    <td>MONEY</td>
                                    <td><a href="/">href</a></td>
                                    <td>editbtn</td>
                                </tr>

                                <tr></tr>
                                    <td>1</td>
                                    <td>20$</td>
                                    <td>MONEY</td>
                                    <td><a href="/">href</a></td>
                                    <td>editbtn</td>
                                </tr>

                                <tr>
                                    <td>1</td>
                                    <td>20$</td>
                                    <td>MONEY</td>
                                    <td><a href="/">href</a></td>
                                    <td>editbtn</td>
                                </tr>

                                <tr>
                                    <td>1</td>
                                    <td>20$</td>
                                    <td>MONEY</td>
                                    <td><a href="/">href</a></td>
                                    <td>editbtn</td>
                                </tr>

                                <tr></tr>
                                    <td>1</td>
                                    <td>20$</td>
                                    <td>MONEY</td>
                                    <td><a href="/">href</a></td>
                                    <td>editbtn</td>
                                </tr>

                                <tr>
                                    <td>1</td>
                                    <td>20$</td>
                                    <td>MONEY</td>
                                    <td><a href="/">href</a></td>
                                    <td>editbtn</td>
                                </tr>

                                <tr>
                                    <td>1</td>
                                    <td>20$</td>
                                    <td>MONEY</td>
                                    <td><a href="/">href</a></td>
                                    <td>editbtn</td>
                                </tr>

                                <tr></tr>
                                    <td>1</td>
                                    <td>20$</td>
                                    <td>MONEY</td>
                                    <td><a href="/">href</a></td>
                                    <td>editbtn</td>
                                </tr>

                                <tr>
                                    <td>1</td>
                                    <td>20$</td>
                                    <td>MONEY</td>
                                    <td><a href="/">href</a></td>
                                    <td>editbtn</td>
                                </tr>

                                <tr>
                                    <td>1</td>
                                    <td>20$</td>
                                    <td>MONEY</td>
                                    <td><a href="/">href</a></td>
                                    <td>editbtn</td>
                                </tr>

                                <tr></tr>
                                    <td>1</td>
                                    <td>20$</td>
                                    <td>MONEY</td>
                                    <td><a href="/">href</a></td>
                                    <td>editbtn</td>
                                </tr>

                                <tr>
                                    <td>1</td>
                                    <td>20$</td>
                                    <td>MONEY</td>
                                    <td><a href="/">href</a></td>
                                    <td>editbtn</td>
                                </tr>

                                <tr>
                                    <td>1</td>
                                    <td>20$</td>
                                    <td>MONEY</td>
                                    <td><a href="/">href</a></td>
                                    <td>editbtn</td>
                                </tr>

                                <tr></tr>
                                    <td>1</td>
                                    <td>20$</td>
                                    <td>MONEY</td>
                                    <td><a href="/">href</a></td>
                                    <td>editbtn</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
</div>

<script defer src="{% static 'js/content.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>