<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>you sure yuou want to delete the {{expense}} ?</p>
    <p>specs : </p>
    <p>date : {{expense.purpose}}</p>
    <p>amount : {{expense.amount}}</p>
    <p>date : {{expense.date}}</p>

    <form action="" method="POST">
        {% csrf_token %}
        <a href="{% url 'list' %}">cancel</a>
        <input type="submit" name="confirm" id="">
    </form>
</body>
</html>