{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tracker</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src='https://cdn.plot.ly/plotly-2.35.2.min.js'></script>
</head>
<body onload="dateFunction()">
    
    <div class="sidebar" id="sidebar">
        
        <div class="header-sidebar" >
            <h1>Portfolio</h1>
            <ion-icon name="menu-outline" id="toggleOff"  ></ion-icon>
        </div>
        <div class="sb_container">
            <div class="item time">
                
                <h3>date</h3>
                <span id="Date_today"></span>
               
            </div>
            <div class="item year">
                <h3>year</h3>
                <div class="years">
                    <a href= '/tracker?year=2024&month={{month}}'><button>2024</button></a>
                    <a href= '/tracker?year=2025&month={{month}}'><button>2025</button></a>
                </div>

            </div>
            <div class="item month">
                <h3>month</h3>
                <div class="months">
                    <a href= '/tracker?year={{year}}&month=1'><button class="january">January</button></a>
                    <a href= '/tracker?year={{year}}&month=2'><button class="february">february</button></a>
                    <a href= '/tracker?year={{year}}&month=3'><button class="march">march</button></a>
                    <a href= '/tracker?year={{year}}&month=4'><button class="april">april</button></a>
                    <a href= '/tracker?year={{year}}&month=5'> <button class="may">may</button></a>
                    <a href= '/tracker?year={{year}}&month=6'><button class="june">june</button></a>
                    <a href= '/tracker?year={{year}}&month=7'><button class="july">july</button></a>
                    <a href= '/tracker?year={{year}}&month=8'><button class="august">august</button></a>
                    <a href= '/tracker?year={{year}}&month=9'><button class="september">september</button></a>
                    <a href= '/tracker?year={{year}}&month=10'><button class="ocotober">ocotober</button></a>
                    <a href= '/tracker?year={{year}}&month=11'><button class="november">november</button></a>
                    <a href= '/tracker?year={{year}}&month=12'><button class="december">december</button></a>
                    
                </div>
            </div>
            <div class="item expenses">
                <h3>add data</h3>
                <div class="add_expenses">
                    <button class="noselect">
                        <span class="text">Add</span>
                        <span class="icon">
                            <ion-icon name="add-circle-outline"></ion-icon>
                        </span>
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div class="main" id="main">
        <div class="header-main">
            
                <ion-icon name="menu-outline" id="toggleOn" class="hide"></ion-icon>
            
            <div class="item">
                <h1>
                    income : {{income}}
                </h1>
            </div>
            <div class="item">
                <h1>
                    total exp : {{totalexpenses}}
                </h1>
            </div>
            
            <div class="item">
                <h1>
                    balance : {{balance}}
                </h1>
            </div>
            <div class="item">
                <h1>
                    assets : {{assets}}
                </h1>   
            </div>
            
        </div>
        <div class="body-main">
            <div class="container-bm-first">
                <!-- <h1>Expenses per Day</h1> -->
                 <div class="filter_for">
                    
                    <h2>  year: {{year}}</h2>
                    <h2>month: {{month}}</h2>
                    
                 </div>
                <div class="expenses_per_day">
                    <div class="expenses_per_day_chart" id='expenses_per_day_chart'></div>
                </div>
                
            </div>
            <div class="container-bm-second">
                <!-- <h1>Relative Money</h1> -->
                <div class="second-container">
            
                    <div class="networth_per_day">
                        <div class="networth_per_day_chart" id='networth_per_day_chart'></div>
                    </div>
                    

                    <div class="average_networth_per_day">
                        <div class="average_networth_per_day_chart" id='average_networth_per_day_chart'></div>
                    </div>
                
                    
                
                </div>
                
                
            </div>
            <div class="container-bm-third">
                <!-- <h1>third</h1> -->
                <div class="third-container">
                    <div class="PurposeList_container">
                        <div class="PurposeList" id="PurposeList"></div>
                    </div>   

                    <div class="donut_container">
                        <div class="donut" id="theDonut"></div>
                    </div>
                                   
                </div>
            </div>
        </div>
    </div>
    
    <script>
        // const yArray =[{% for ex in expenses %} '{{ ex.date }}', {% endfor %}];
        // const xArray =[{% for ex in expenses %} {{ex.amount}}, {% endfor %}];
        const TageArray = [{% for i in days_array %} {{i}}, {% endfor %}];
        const xArray = [{% for j in expenses_array %} {{j}}, {% endfor %}];
        const y1Array = [{% for j in  average_networth_array %} {{j}}, {% endfor %}];
        const y2Array = [{% for j in  expenses_and_income_pd %} {{j}}, {% endfor %}];
        const yDonut = [{% for j in  pl %} '{{j}}', {% endfor %}];
        const xDonut = [{% for j in  el %} {{j}}, {% endfor %}];

    </script>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script defer src="{% static 'js/index.js' %}"></script>
</body>
</html>