{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tracker</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src='https://cdn.plot.ly/plotly-2.35.2.min.js'></script>
</head>
<body onload="dateFunction()">
    
    <div class="sidebar" id="sidebar">
        
        <div class="header-sidebar" >
            <h1>Portfolio</h1>
            <ion-icon name="menu-outline" id="toggleOff"  ></ion-icon>
        </div>
        <div class="sb_container">
            <div class="item time">
                
                <h2>date</h2>
                <span id="Date_today"></span>
               
            </div>
            <div class="item year">
                <h3>year</h3>
                <div class="years">
                    <button class="2023">2023</button>
                    <button class="2024">2024</button>
                </div>

            </div>
            <div class="item month">
                <h3>month</h3>
                <div class="months">
                    <button class="january">January</button>
                    <button class="february">february</button>
                    <button class="march">march</button>
                    <button class="april">april</button>
                    <button class="may">may</button>
                    <button class="june">june</button>
                    <button class="july">july</button>
                    <button class="august">august</button>
                    <button class="september">september</button>
                    <button class="ocotober">ocotober</button>
                    <button class="november">november</button>
                    <button class="december">december</button>
                
                </div>
                </div>
            <div class="item expenses">
                <h3>add data</h3>
                <div class="add_expenses">
                    <button class="noselect">
                        <span class="text">Add</span>
                        <span class="icon">
                            <ion-icon name="add-circle-outline"></ion-icon>
                        </span>
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div class="main" id="main">
        <div class="header-main">
            
                <ion-icon name="menu-outline" id="toggleOn" class="hide"></ion-icon>
            
            <div class="item">
                <h1>
                    income : {{income}}
                </h1>
            </div>
            <div class="item">
                <h1>
                    total exp : {{totalexpenses}}
                </h1>
            </div>
            
            <div class="item">
                <h1>
                    balance : {{balance}}
                </h1>
            </div>
            <div class="item">
                <h1>
                    assets : {{assets}}
                </h1>   
            </div>
            
        </div>
        <div class="body-main">
            <div class="container-bm-first">
                <h1>Expenses per Day</h1>
                <div class="expenses_per_day">
                    <div class="expenses_per_day_chart" id='expenses_per_day_chart'></div>
                </div>
                
            </div>
            <div class="container-bm-second">
                <h1>second</h1>
                <div class="networth_per_day">
                    <div class="networth_per_day_chart" id='networth_per_day_chart'></div>
                </div>
                <div class="average_networth_per_day">
                    <div class="average_networth_per_day_chart" id='average_networth_per_day_chart'></div>
                </div>
                
            </div>
            <div class="container-bm">
                <h1>third</h1>
            </div>
        </div>
    </div>
    
    <script>
        // const yArray =[{% for ex in expenses %} '{{ ex.date }}', {% endfor %}];
        // const xArray =[{% for ex in expenses %} {{ex.amount}}, {% endfor %}];
        const yArray = [{% for i in days_array %} {{i}}, {% endfor %}];
        const xArray = [{% for j in expenses_array %} {{j}}, {% endfor %}];
    </script>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script defer src="{% static 'js/index.js' %}"></script>
</body>
</html>